# Dependencies
node_modules

# Build output
dist

# Environment files
.env

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# --- THÊM 2 DÒNG NÀY ---
# Bỏ qua các thư mục dữ liệu do Docker tạo ra
postgres_data
minio_data