<!DOCTYPE html>
<html>
  <body>
    <h2>Xin chào {{username}},</h2>
    <p>Cảm ơn bạn đã đăng ký tài khoản tại <b>Laoshop</b>.</p>
    <p>Nhấn vào link dưới đây để xác nhận tài khoản:</p>
    <a >{{url}}</a>
    <br><br>
    <small>Đừng trả lời email này, đây là email tự động.</small>
  </body>
</html>
